<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<p>This is an online library, a CRUD (Create, Read, Update, Delete) application</p>
<p>where users can add, edit, and delete person cards and books.</p>
<p>They can also assign books to specific individuals.</p>
<p>It provides a user-friendly and efficient way to manage and organize library resources</p>
<hr/>
<a href="/books">Click me to work with books</a>
<br/>
<a href="/people">Click me to work with people</a>
</body>
</html>